<form method='POST' action="<%= formType === 'SIGNUP' ? '/users' : '/users/signin' %>">
  <%- formGroup('email') %>
  <%- formGroup('password', { type: 'password' }) %>
  <button type='submit' class='btn btn-primary'>
    <%= formType === 'SIGNUP' ? 'Sign up' : 'Sign in' %>
  </button>
</form>