<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">App</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tasks">Tasks</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <% if (isAuthenticated) { %>
      <li class="nav-item">
        <a class="nav-link" href="/users/signout">Sign Out</a>
      </li>
    <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/users/signup">Sign Up</a>
      </li>
    <% } %>
  </ul>
</nav>
<%- flashMessages(successMessage, errorMessage) %>