<form
  action="<%= formType === 'EDIT' ? `/tasks/${task.slug}?_method=PATCH` : '/tasks' %>"
  method="POST">
  <%- formGroup('title', { value: task.title, errors }) %>
  <%- formGroup('description', { inputType: 'textarea', value: task.content, errors }) %>
  <button type='submit' class='btn btn-primary'>
    <%= formType === 'EDIT' ? 'Update' : 'Create' %>
  </button>
</form>
