<%- contentFor('title') %>
Tasks Index

<%- contentFor('body') %>
<div class='d-flex justify-content-end border-bottom border-primary pb-3'>
  <a href='/tasks/new' class='btn btn-primary btn-sm'>
    Create new task
  </a>
</div>
<div class='list-group mt-3'>
  <% tasks.forEach(function(task) { %>
    <a href='/tasks/<%= task.id %>' class='list-group-item'><%= task.title %></a>
  <% }) %>
</div>
