<%- contentFor('title') %>
Task - <%= task.id %>

<%- contentFor('body') %>
<form action="/tasks/<%= task.id %>?_method=PATCH" method="POST">
<div class="card">
  <div class="card-header"><%= task.title %></div>
  <div class="card-body">
    <p class="card-text"><%= task.description %></p>

     <input type="checkbox"   name="status" id="status" class="form-check-input">
      done
  </div>

</div>

<div class="mt-3">
  <div class="d-flex justify-content-end">

   
      <button type='submit' class='btn btn-danger ml-3'>Done</button>
      <input type="hidden" value="<%= task.title %>" name="title" id="title">
      <input type="hidden" value="<%= task.description %>" name="description" id="description">


  </div>
</div>
 </form>