<form
  action="<%= formType === 'EDIT' ? `/posts/${post.slug}?_method=PATCH` : '/posts' %>"
  method="POST">
  <%- formGroup('title', { value: post.title, errors }) %>
  <%- formGroup('content', { inputType: 'textarea', value: post.content, errors }) %>
  <button type='submit' class='btn btn-primary'>
    <%= formType === 'EDIT' ? 'Update' : 'Create' %>
  </button>
</form>
