<%- contentFor('title') %>
Post Index

<%- contentFor('body') %>
<div class='d-flex justify-content-end border-bottom border-primary pb-3'>
  <a href='/posts/new' class='btn btn-primary btn-sm'>
    Create new post
  </a>
</div>
<div class='list-group mt-3'>
  <% posts.forEach(function(post) { %>
    <a href='/posts/<%= post.slug %>' class='list-group-item'><%= post.title %></a>
  <% }) %>
</div>
