<%- contentFor('title') %>
Post - <%= post.id %>

<%- contentFor('body') %>
<div class="card">
  <div class="card-header"><%= post.title %></div>
  <div class="card-body">
    <p class="card-text"><%= post.content %></p>
  </div>
</div>

<div class="mt-3">
  <div class="d-flex justify-content-end">
    <a href='/posts/<%= post.slug %>/edit' class='btn btn-primary'>Edit</a>
    <form action="/posts/<%= post.slug %>?_method=DELETE" method="POST">
      <button type='submit' class='btn btn-danger ml-3'>Delete</button>
    </form>
  </div>
</div>
